body, html {
  height: 100%;
  width: 100%;
}

#chrome_app {
    /*this one can be used for more global stuff*/
    height: 100%;
    width: 100%;
}

#three_d_display {
    /* web gl context in here */
    position: absolute;
    height: 100%;
    width:  100%%;
    margin: auto;
}

#sidebar_panel {
    position: absolute;
    left: -33%;
    float: left;
    height: 100%;
    width:  35%;
    transition: all 0.2s ease-in-out;
}

#sidebar_panel:hover {
    left: auto;
}

#sidebar {
    float: left;
    height: 100%;
    overflow-y:auto;
    width: 93%;
    background-color: white;
    opacity: 0.5;
}

#search_bar {
    vertical-align: center;
    width: 100%;
    font-size: 18pt;
}

button {
    font-size: 18pt;
}
