body, html {
  height: 100%;
  width: 100%;
  font-family: Helvetica;
}

#chrome_app {
    /*this one can be used for more global stuff*/
    height: 100%;
    width: 100%;
}

#three_d_display {
    /* web gl context in here */
    position: absolute;
    height: 100%;
    width:  100%%;
    margin: auto;
}

#sidebar_panel {
    position: absolute;
    left: -33%;
    float: left;
    height: 100%;
    width:  35%;
    overflow-y:auto;
    transition: all 0.2s ease-in-out;
}

#sidebar_panel:hover {
    left: 1%;
}

#sidebar {
    float: left;
    height: 100%;
    width: 94%;
    background-color: transparent;
}

#search_bar {
    vertical-align: center;
    font-size: 18pt;
    width: 96%;
}


#footer {
    position: absolute;
    bottom: 0%;
    clear: both;
    height: 5%;
    width: 100%;
}

.sat_panel {
    color: white;
    overflow:hidden;
    font-size: 18pt;
    border: none;
    border-radius: 12px;
    background-color: black;
    opacity: .8
}


.sat_body {
    height: 0px;
    overflow: hidden;
}

.sidebar_text {
    margin: 0pt;
    padding: 5pt;
}

.sat_panel:hover {
    background-color: rgb(22, 22, 22);
}

.overhead {
    background-color: lime;
}

.selected {
    background-color: rgb(22, 22, 22);
    height: auto;
}

#fullscreen_button {
    position: absolute;
    right: 0%;
    float: right;
}

button {
    font-size: 18pt;
}
