<div id="three_d_display"
   ng-mousedown="mouse_down($event)"
   ng-mouseup="mouse_up($event)"
   ng-mousemove="mouse_move($event)"
   msd-wheel="mouse_wheel($event, $delta, $deltaX, $deltaY)">
</div>

<div id="sidebar_panel">
  <div id="sidebar">
    <input id="search_bar"></input>
    <div ng-repeat="(satnum, sat) in sat_table"
         class="sat_panel"
         ng-class="{overhead : sat.look_angles[1] > 0,
                    selected : sat.selected}">
      <div class="sat_header" ng-click="select_sat(satnum, sat)">
        <p class="sidebar_text">{{sat.name}}</p>
      </div>
      <div class="sat_body" ng-class="{selected : sat.selected}">
        <p class="sidebar_text">Uplink frequency: {{sat.uplink_freq}}</p>
        <p class="sidebar_text">Downlink frequency: {{sat.downlink_freq}}</p>
        <p class="sidebar_text">Uplink mode: {{sat.uplink_mode}}</p>
        <p class="sidebar_text">Downlink mode: {{sat.downlink_mode}}</p>
        <p class="sidebar_text">
          {{sat.position_gd[0] | longitude}}
          {{sat.position_gd[1] | latitude}}
          {{sat.position_gd[2] | distance}}
        </p>
        <p class="sidebar_text">
          {{sat.look_angles[0] | azimuth}}
          {{sat.look_angles[1] | elevation}}
          {{sat.look_angles[2] | distance}}
        </p>
        <p class="sidebar_text">
          {{sat.motor_az | azimuth}}
          {{sat.motor_el | elevation}}
        </p>
        <p class="sidebar_text">
          {{sat.uplink_freq}}
          {{sat.downlink_freq}}
        </p>
        <p>
          <button ng-click="refresh_com_ports_list()">
            Refresh COM List
          </button>
        </p>
        <p>
          <select ng-model="selected_motor_port" ng-options="port for port in COM_list"></select>
          <select ng-model="selected_motor_type" ng-options="motor_type for motor_type in supported_motor_types"></select>
          <button ng-click="connect_motors_to_sat(satnum, selected_motor_port, selected_motor_type)">
            Open Motor
          </button>
          <button ng-click="start_motor_tracking(satnum)">
            Start Motor
          </button>
          <button ng-click="stop_motor_tracking(satnum)">
            Stop Motor
          </button>
          <button ng-click="close_motors(satnum)">
            Close Motor
          </button>
        </p>
        <p>
          <select ng-model="selected_radio_port" ng-options="port for port in COM_list"></select>
          <select ng-model="selected_motor_type" ng-options="radio_type for radio_type in supported_radio_types"></select>
          <button ng-click="connect_radio_to_sat(satnum, selected_radio_port, selected_radio_type)">
            Open Radio
          </button>
          <button ng-click="start_radio_tracking(satnum)">
            Start Doppler
          </button>
          <button ng-click="stop_radio_tracking(satnum)">
            Stop Doppler
          </button>
          <button ng-click="close_radio(satnum)">
            Close Radio
          </button>
        </p>
      </div>
    </div>
    <button ng-click="choose_file()">Import 3LE File</button>
  </div>
</div>
<div id="footer">
  <button id="fullscreen_button" ng-click="fullscreen()">Fullscreen</button>
</div>
