<div id="three_d_display"
   ng-mousedown="mouse_down($event)"
   ng-mouseup="mouse_up($event)"
   ng-mousemove="mouse_move($event)"
   msd-wheel="mouse_wheel($event, $delta, $deltaX, $deltaY)">
</div>

<div id="sidebar_panel">
  <div id="sidebar">
    <button ng-click="choose_file()">Import 3LE File</button>
    <input id="search_bar"></input>
    <div ng-repeat="(satnum, sat) in sat_table">
      <p>{{sat.name}}</p>
      <p>Lat: {{sat.lat_long_alt[0]}}</p>
      <p>Lon: {{sat.lat_long_alt[1]}}</p>
      <p>Alt: {{sat.lat_long_alt[2]}}</p>
    </div>
  </div>
</div>
