<div id="three_d_display"
   ng-mousedown="mouse_down($event)"
   ng-mouseup="mouse_up($event)"
   ng-mousemove="mouse_move($event)"
   msd-wheel="mouse_wheel($event, $delta, $deltaX, $deltaY)">
</div>

<div id="sidebar_panel">
  <div id="sidebar">
    <button ng-click="choose_file()">Import 3LE File</button>
    <input id="search_bar"></input>
    <div ng-repeat="(satnum, sat) in sat_table">
      <p>{{sat.name}}</p>
      <p>Uplink frequency: {{sat.uplink_freq}}</p>
      <p>Downlink frequency: {{sat.downlink_freq}}</p>
      <p>Uplink mode: {{sat.uplink_mode}}</p>
      <p>Downlink mode: {{sat.downlink_mode}}</p>
      <p>
        {{sat.position_gd[0] | longitude}}
        {{sat.position_gd[1] | latitude}}
        {{sat.position_gd[2] | distance}}
      </p>
      <p>
        {{sat.look_angles[0] | azimuth}}
        {{sat.look_angles[1] | elevation}}
        {{sat.look_angles[2] | distance}}
      </p>
    </div>
  </div>
</div>
